.leftNaveStyle {
  padding: 5px;
  margin: 0;
  list-style: none;
  background-color: antiquewhite;
  li {
    border-bottom: 1px solid #ff7700;
    padding: 5px;
    background-color: #ffa200;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
  }
}
.innerCon {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  display: inline-flex;
  text-align: center;
  /* flex-direction: column-reverse; */
}
hr {
  /* color: red; */
  width: 80%;
  border: solid 1px rgb(255, 119, 0);
}
