.leftNaveStyle {
  padding: 5px;
  margin: 0;
  list-style: none;
  background-color: antiquewhite;
  width: 220px;
  a {
    border-bottom: 1px solid #ff7700;
    padding: 5px;
    background-color: #ffa200;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    position: relative;
  }
  .active::after {
    content: " ";
    background: #ffa200;
    height: 20px;
    width: 20px;
    position: absolute;
    top: 5px;
    right: -8px;
    transform: rotate(45deg);
    box-shadow: #ff7700 2px 0px 0px -1px;
  }
}
.innerCon {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
  display: inline-flex;
  text-align: center;
  /* flex-direction: column-reverse; */
}
hr {
  /* color: red; */
  width: 80%;
  border: solid 1px rgb(255, 119, 0);
}
